<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" type="text/css" href="./icofont.css">
	<script src="adj.js"></script>
	<script src="https://unpkg.com/vue@2.6.12"></script>
	<style>
		body {
			zoom: 1.5;
			max-width: 50%;
		}

		@media (max-width: 1200px) {
			body {
				zoom: 4;
				max-width: none;
			}
		}

		.btn:focus {
			box-shadow: none;
		}

		.btn.btn-sm {
			padding: 0 0.1rem;
		}
	</style>
</head>

<body>
	<div id="app" class="d-flex p-1">
		<i class=""></i>
		<div v-if="selected">
			<button v-for="str in shuffle(selected.split(' '))" class="btn btn-sm btn-link"
				@click="selected = undefined">{{str}}</button>
		</div>
		<div v-else>
			<div v-for="(c1, c1Str) in adj" style="border-bottom: 1px dashed gray;">
				<button v-for="(c2, c2Str) in c1" class="btn btn-sm btn-link" @click="selected = adj[c1Str][c2Str]">
					<i :class="`icofont-${c2Str.split(' ')[1]}`"></i>{{c2Str.split(' ')[0]}}
				</button>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					adj,
					selected: undefined,
				}
			},
			methods: {
				shuffle(a) {
					for (let i = a.length - 1; i > 0; i--) {
						const j = Math.floor(Math.random() * (i + 1));
						[a[i], a[j]] = [a[j], a[i]];
					}
					return a;
				}
			}
		})
	</script>
</body>

</html>