<html>

<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="data.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<style>
		.form-checkbox,
		.form-radio,
		.form-switch {
			display: inline-block;
			cursor: pointer;
		}

		.box,
		.box-caption,
		.image {
			position: absolute;
		}

		.box {
			border-style: solid;
			border-width: 4px;
			display: inline-block;
			/* box-shadow: 1px 1px LightGray, -1px -1px LightGray, -1px 1px LightGray, 1px -1px LightGray; */
		}

		.box-caption {
			text-shadow: 1px 1px LightGray, -1px -1px LightGray, -1px 1px LightGray, 1px -1px LightGray;
		}
	</style>
</head>

<body style="padding:0 10px">
	<div id="mouse-pos">(0, 0)</div>
	<div id="app" style="display:flex">
		<img src="Tyria_map.jpg" style="height:800px; margin-right:15px;" />
		<br/>
		<div class="form-group">
			Tyria大陸:
			<label v-for="(option, i) in data" class="form-radio">
				<input type="radio" :name="'lv-1-radio-' + i" v-model="lv1Model" :value="i" />
				<i class="form-icon"></i>{{option.caption}}
			</label>
			<div style="margin:10px"></div>

			<label v-if="data[lv1Model]" v-for="(option, i) in data[lv1Model].children" class="form-radio">
				<input type="radio" :name="'lv-2-radio-' + i" v-model="lv2Model" :value="i" />
				<i class="form-icon"></i>{{option.caption}}
			</label>
			<div style="margin:10px"></div>

			<div v-for="(box, i) in selected.boxes" :style="boxStyle(box, i)" class="box"></div>
			<b v-for="(box, i) in selected.boxes" :style="boxNameStyle(box, i)" class="box-caption">{{box.name}}</b>
			<img v-for="img in selected.imgs" :src="img.src" :style="{left:img.pos[0], top:img.pos[1]}" class="image" />
			<div v-html="selected.text"></div>
		</div>
	</div>

	<script>
		let colors = ['#B71C1C', '#880E4F', '#6200EA', '#4A148C', '#311B92', '#0D47A1', '#01579B', '#006064', '#004D40', '#33691E', '#827717', '#E65100', '#4E342E', '#37474F']
		function shuffleColors() {
			colors.sort(() => 0.5 - Math.random())
		}
		new Vue({
			el: '#app',
			data: { data, imgSrc: '', text: '', lv1Model: 0, lv2Model: null },
			computed: {
				selected() {
					return (this.data[this.lv1Model]) && this.data[this.lv1Model].children[this.lv2Model] || this.data[this.lv1Model] || {}
				}
			},
			methods: {
				boxStyle(box, i) {
					return {
						left: box.pos[0],
						top: box.pos[1],
						width: box.pos[2] - box.pos[0],
						height: box.pos[3] - box.pos[1],
						'border-color': colors[i]
					}
				},
				boxNameStyle(box, i) {
					return {
						left: box.pos[0],
						top: box.pos[1] + box.pos[3] - box.pos[1] + 5,
						color: colors[i],
					}
				}
			},
			watch: {
				lv1Model() { shuffleColors() }
			}
		})
		window.onmousemove = function (event) {
			document.getElementById('mouse-pos').textContent = `(${event.pageX}, ${event.pageY})`
		}
	</script>
</body>

</html>