<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<script src="https://unpkg.com/vue@2.6.12"></script>
	<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
	<script>
		firebase.initializeApp({
			apiKey: "AIzaSyCQbSH8tz42e9YLB7-8ix_K7ruHNJzpU3o",
			authDomain: "ib-margin.firebaseapp.com",
			databaseURL: "https://ib-margin-default-rtdb.firebaseio.com/",
			storageBucket: "ib-margin.appspot.com",
			messagingSenderId: "851154069561",
		})
	</script>
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
	<title>IB Margin Call Calculator</title>
</head>

<body>
	<div id="app" class="p-2" v-cloak>
		<div class="container mb-2">
			<div class="columns">
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">現金:</pre>
					<input v-model.number="cash" type="number" class="form-input">
				</div>
			</div>

			<div class="columns mt-1">
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">代號:</pre>
					<input v-model.number="symbolA" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">現有量:</pre>
					<input v-model.number="volumeA" type="number" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">風險價:</pre>
					<input v-model="riskPriceA" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">風險淨值:${{Math.floor(eval(riskPriceA) * volumeA) || '--'}}</pre>
				</div>
			</div>

			<div class="columns mt-1">
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">代號:</pre>
					<input v-model.number="symbolB" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">現有量:</pre>
					<input v-model.number="volumeB" type="number" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">風險價:</pre>
					<input v-model="riskPriceB" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">風險淨值:${{Math.floor(eval(riskPriceB) * volumeB) || '--'}}</pre>
				</div>
			</div>

			<div class="columns mt-1">
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">代號:</pre>
					<input v-model.number="symbolC" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">現有量:</pre>
					<input v-model.number="volumeC" type="number" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">風險價:</pre>
					<input v-model="riskPriceC" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">風險淨值:${{Math.floor(eval(riskPriceC) * volumeC) || '--'}}</pre>
				</div>
			</div>

			<div class="columns mt-2">
				<div class="column col-3 d-flex">
					<pre class="form-label m-0 mr-1">再買額:</pre>
					<input v-model.number="buyCash" @keydown.up.prevent="buyCash = (buyCash || 0) + 1000"
						@keydown.down.prevent="buyCash = (buyCash || 0) - 1000" class="form-input mr-1">
					<button class="btn mr-1" @click="buyCash = (buyCash || 0) + 1000" tabindex="-1">＋</button>
					<button class="btn mr-1" @click="buyCash = (buyCash || 0) - 1000" tabindex="-1">－</button>
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">最新價:</pre>
					<input v-model.number="buyPrice" class="form-input">
				</div>
				<div class="column col-2 d-flex">
					<pre class="form-label m-0 mr-1">風險價:</pre>
					<input v-model="riskPrice" class="form-input">
				</div>
			</div>
			
			<div class="columns mt-1">
				<div class="column col-12 d-flex">
					半半額: ${{Math.floor(buyCash / 4) || '--'}}
					半半量: {{Math.floor(buyVolume / 4) || '--'}}
					半額: ${{Math.floor(buyCash / 2) || '--'}}
					半量: {{Math.floor(buyVolume / 2) || '--'}}
					全量: {{Math.floor(buyVolume) || '--'}}
				</div>
			</div>
		</div>
		<h5 v-if="marginCall > 0 || marginCall === 0" class="text-success">
			*安全水位 ${{marginCall}} *記得檢查SMA
		</h5>
		<h5 v-else-if="marginCall < 0" class="text-error">
			*追加保證金 ${{marginCall}}
		</h5>
		<h5 v-else class="text-warning">
			*請填妥欄位
		</h5>
	</div>

	<script>
		firebase.database().ref('/data').once('value').then((snap) => {
			new Vue({
				el: '#app',
				data() {
					return snap.val()
				},
				mounted() {
					document.addEventListener("visibilitychange", () => firebase.database().ref('/data').once('value')
						.then((snap) => {
							const val = snap.val()
							for (const attr in val) {
								this[attr] = val[attr]
							}
						}))
				},
				computed: {
					buyVolume() {
						return this.buyCash / this.buyPrice || 0
					},
					marginCall() {
						if (!this.cash && !this.buyCash) {
							return null
						}
						const riskPrice = eval(this.riskPrice)
						const riskPriceA = eval(this.riskPriceA)
						const riskPriceB = eval(this.riskPriceB)
						const riskPriceC = eval(this.riskPriceC)
						const stockValue = riskPriceA * this.volumeA + riskPriceB * this.volumeB + riskPriceC * this.volumeC + riskPrice * this.buyVolume
						const elv = this.cash - this.buyCash + stockValue
						const mm = stockValue * 0.25

						return Math.floor(elv - mm)
					},
				},
				methods: {
					eval(str) {
						return eval(str)
					}
				},
				watch: {
					$data: {
						handler: function (data) {
							firebase.database().ref('/data').set(data)
						},
						deep: true
					}
				}
			})
		})
	</script>
</body>

</html>
