<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<script src="rhetoric.js"></script>
	<script src="https://unpkg.com/vue@2.6.12"></script>
	<style>
		body {
			zoom: 1.5;
		}

		@media (max-width: 1200px) {
			body {
				zoom: 4;
			}
		}
	</style>
</head>

<body class="p-1">
	<div id="app" class="container">
		<div class="columns">
			<div v-if="selected" class="column col-xs-12">
				<div v-for="(c3, c3Str) in selected">
					<button class="btn btn-sm btn-success mb-1" disabled>{{c3Str}}</button>
					<button v-for="c4Str in shuffle(selected[c3Str])" class="btn btn-sm mr-1 mb-1"
						@click="selected = undefined">{{c4Str}}</button>
				</div>
			</div>
			<div v-else class="column col-xs-12">
				<div v-for="(c1, c1Str) in rhetoric">
					<button class="btn btn-sm btn-error mb-1" disabled>{{c1Str}}</button>
					<button v-for="(c2, c2Str) in c1" class="btn btn-sm mr-1 mb-1"
						@click="selected = rhetoric[c1Str][c2Str]">{{c2Str}}</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					rhetoric,
					selected: undefined,
				}
			},
			methods: {
				shuffle(a) {
					for (let i = a.length - 1; i > 0; i--) {
						const j = Math.floor(Math.random() * (i + 1));
						[a[i], a[j]] = [a[j], a[i]];
					}
					return a;
				}
			}
		})
	</script>
</body>

</html>